#ifndef CREDENTIALS_H
#define CREDENTIALS_H

const char* ssid = "YourWiFiName";
const char* password = "YourWiFiPassword";
const char* mqtt_server = "192.168.1.100";
const char* mqtt_user = "";
const char* mqtt_password = "";

#endif
